<%# Conditionally output form or submitted data %> <% if(status == 'received') {
%>
<section id="submission" class="submission">
    <div><%= formData.name && `Thank you, ${formData.name}.` %></div>
    <div><%= formData.comment %></div>
    <div><%= `We'll get back to you at ${formData.email}` %></div>
</section>

<% } else { %>
    <form class="contact-form" action="/contact" method="post">
        <div class="name">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="email">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="comment">
            <label for="comment">Comment:</label>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit"/>
        </div>
    </form>
<% } %>