<h1>Profiles</h1>
<a href="/profiles/profile-form"><button>Create New Profile</button></a>

<div class="profiles-list">
    <ul>
        <% for (let i = 0; i < profiles.length; i++) { %>
        <li>
            <a href="/profiles/<%= profiles[i].id %>"><%= profiles[i].name %></a>  
            <a href="/profiles/<%= profiles[i].id %>/delete"><button>Delete</button></a>
        </li>
        <% } %>
    </ul>
</div>
<div class="message">
    <p><%= errorMsg %></p>
</div>
