<h1>Profiles</h1>

<form action="/user" method="GET"> 
    <label for="searchField">Search by: </label>  
    <select name="searchField" id="searchField">
        <option value="firstName">First Name</option>
        <option value="lastName">Last Name</option>
        <option value="email">Email</option>
        <option value="interests">Interests</option>
    </select>
    <input name="searchString" type="text">
    <input type="submit" value="Go!">        
</form>

<% if(users) {
    for (let i = 0; i < users.length; i++) { %>
        <div class="profile-card">
            <a href="user/<%= users[i].username %>">
                <p><%= users[i].firstName + " " + users[i].lastName %></p>
            </a>
        </div>
    <% } 
}%>

<div class="message">
    <p><%= errorMsg ? errorMsg : "" %></p>
</div>
